.card {
    /* border: green solid 3px; */
    display: flex;
    flex-direction: column;
    width: 19%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 16px;
}
.card-title { 
    /* border: red solid 1px; */
}
.card:hover{
    transform: translateY(-3px);

}
h3 {
    font-weight: normal !important;
}


.button {
    background-color: #4285f4;
    color: white;
    /* border: hotpink solid 1px; */
    border-radius: 4px;
    padding: 11px;
    cursor: pointer;
    border: none;
    font-size: 19px;
    margin: 0px 3px;
}
.button:hover{
    background-color: blue;
}

h3 {
    font-weight: none;
}